.navbar-enginnova{
	background-color: #ffffff;
	box-shadow: 1px 0 4px silver; 
}
.heading-area{
	padding: 5rem 2rem 2.5rem 2rem;
	background: #6A5ACD;
	/*background-image: url("../image/bg-1.jpg");*/
}
.page-heading{
	height: 48px;
	margin: auto;
	color: #ffffff;
	text-shadow: 1px 1px 3px #444444;
}


.u-card{
	padding: 0;
	margin: 0;
	box-shadow: 1px 0 3px silver;
}
.u-card .u-card-header{
background-color: #0D47A1;
margin: 0;
padding: 20px;
padding-bottom: 65px; 

}
.u-card .u-card-header p{
	margin: 0;
	color: #ffffff;
}
.u-card .u-card-header h6{
	color: #ffffff;
	font-size: 1.2rem;
}
.u-card .avt-img{
	width: 100px;
	margin: 0 auto;
	margin-top: -50px;
	border-radius: 50%;
}
.u-card-footer{
	margin: 0;
	padding: 10px;
	background: #cccccc;
}
.u-card-footer .btn{
	background-color: #0069D9 !important;
}
